RETROSHUR-FRONTEND/Emuladores/RetroArch/shaders/RETROSHUR/Analog Shader Pack/Televisions/Vintage/The Zenith/shaders/blurs/large-input-quality-test-presets/test-large-input-blur10x10shared-gamma-encode-every-fbo.cgp
*.cgp
